/install/*/
*.png
*.pkl
*.pdf
/models
/__pycache__
*/__pycache__
**/__pycache__/
*.tgz
*.log
*.out
*.err
FlatSignal_generationcampaign/**/logs/
FlatSignal_generationcampaign/**/model_building_production.tgz
Sdmass_parameter/data_cache/
Sdmass_parameter/plots/
